@font-face {
  src: url('./fonts/AmazonEmber_Rg.ttf');
  font-family: 'AmazonFont-Rg';
}

@font-face {
  src: url('./fonts/AmazonEmber_Bd.ttf');
  font-family: 'AmazonFont-Bd';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #E3E6E6;
  font-family: 'AmazonFont-Rg';
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h2 {
  font-family: 'AmazonFont-Bd';
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.font-bold {
  font-family: 'AmazonFont-Bd';
}

label, legend {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-family: 'AmazonFont-Bd';
}

:focus-visible {
  outline: orange auto 1px !important;
}

.logo-link .span:nth-child() {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
}

